<div class="container" id="contact">
    <div class="content text text-start">
        <h1>Contact</h1>
        <h2 class="name">Contact Information</h2>
        <hr class="mainhr">
        <!-- <div class="d-flex"> -->

        <div class="container maincontent">
            <p class="main-text">
                Iris Linner <br>Full-Stack-Developer<br><br>
                <i class="bi bi-telephone"></i> : 0681 0000000<br>
                <i class="bi bi-envelope"></i> : linner&commat;gmail.com<br>
                <i class="bi bi-geo"></i> : Vienna, Austria<br><br> For further information please klick the icons below :)
            </p>
        </div>
    </div>
</div>