<div class="container" id="about">
    <div class="content text text-start">
        <h1>About me</h1>
        <h2 class="name">Personal Information</h2>
        <hr class="mainhr">
        <!-- <div class="d-flex"> -->

        <div class="container maincontent">
            <div class="row">
                <div class=" col-lg-4 col-md-7 col-sm-12">
                    <img src="../../assets/image/coding.png" alt="Ing. Iris Linner" title="Iris Linner" class="image-fluid pb mx-5">
                </div>
                <div class="col-lg-6  col-md-5 mx-5">
                    <p class="main-text">
                        Future Full-Stack-Developer. Already learned HTML, CSS, JavaScript, TypeScript and many more topics. Going to learn SQL (MySQL),
                        SCRUM & Requirements Engineering, PHP, AJAX and many others. If you would like to know more please click on the button below to see my CV.
                    </p>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <button type="button" class="btn button" ><a href="../../assets/files/Lebenslauf_Linner.pdf"
            download>Download CV</a></button>
    </div>
</div>