<div class="container" id="home">
    <div class="content text text-start">
        <h1>Welcome!</h1>
        <h2 class="name">Ing. Iris Linner</h2>
        <hr class="homehr">
        <!-- <div class="d-flex"> -->
        <div class="container w-75 homecontent">
            <div class="row">
                <div class="content-text col-lg-8  col-md-7 col-sm-12">
                   Future Full-Stack-Webdeveloper with experience in media design, technics and social media management. Please have a look at some of my recent projects! For further information feel free to contact me! I'm looking forward to meet you!
                </div>
                <div class="col-lg-4  col-md-5"><img src="../../assets/image/ProfilePicture.jpg" alt="Ing. Iris Linner" title="Iris Linner" class="image-fluid pb mx-5"></div>
            </div>
        </div>
        <!-- </div> -->
        <button type="button" class="btn button"><a href="https://github.com/IrisLinner">GitHub</a></button>
    </div>
</div>